body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.head {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
}

.user-info {
    position: absolute;
    right: 150px;
    top: 10px;
    color: white;
}

.logo {
    position: absolute;
    top: 8px;
    left: 50px;
}

#user-head-name {
    position: fixed;
    top: 30px;
    padding-left: 8px;
    font-size: 20px;
}

.user-img-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-image: url(../images/def.jpg);
    background-size: cover;
    border-radius: 50%;
}

.type {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 80px;
    left: 0px;
    color: black;
    background: rgb(245,245,245);
}

.type-ul {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding: 0px;
}

    .type-ul li {
        padding: 10px 0px;
        cursor: pointer;
    }

.percent {
    position: fixed;
    bottom: 80px;
    left: 10px;
    width: 180px;
    height: 10px;
    border: 2px solid #00ffff;
}

.percent-container {
    height: 10px;
    background-color: #00ffff;
    width: 90%;
}

.percent-text {
    position: absolute;
    left: 50%;
    font-size: 10px;
    text-align: center;
}

.disk-text {
    text-align: center;
}

.action-bar {
    width: 87%;
    height: 50px;
    position: fixed;
    top: 80px;
    left: 200px;
}

    .action-bar button {
        border: 1px solid #4fb2b8;
        border-radius: 5px;
        background-color: white;
        font-size: 20px;
        margin: 5px;
    }

.action-btn {
    position: absolute;
    top: 10px;
    right: 50px;
}

.type-text {
    position: fixed;
    top: 130px;
    width: 87%;
    height: 20px;
    left: 200px
}

.now-type-text {
    position: absolute;
    left: 20px;
    font-size: 12px;
    margin: 0px;
}

.file-list {
    position: fixed;
    top: 150px;
    left: 200px;
    width: 88%;
    height: 570px;
}

.file-info-title {
    width: 100%;
    height: 30px;
}

.file-info-container, .file {
    width: 100%;
    height: 30px;
    list-style-type: none;
    float: left;
    padding: 0px;
    margin: 0px;
}

    .file-info-container li, .file li {
        height: 40px;
        float: left;
        border-bottom: 1px solid rgba(128, 128, 128,0.2);
        position: relative;
    }

        .file-info-container li span, .file li span {
            position: absolute;
            top: 15px;
            left: 40%;
            font-size: 12px;
        }

.file-name-title, .file-name {
    width: 60%;
}

.file-size-title, .file-size {
    width: 20%;
}

.file-date-title, .file-date {
    width: 20%;
}

.file-list-container {
    position: fixed;
    top: 181px;
    width: 88%;
    height: 75%;
}

.file li span {
    font-size: 15px;
}

.checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 12px;
}
